<header class="flex">
  <h1>Books App</h1>
</header>

<main *ngIf="vm$ | async as vm">
  <section class="mt-5 mb-5">
    <app-show-form-checkbox
      [data]="vm.showFormCheckBoxData"
      (outBus)="outHandler($event)"
    ></app-show-form-checkbox>

    <app-add-book-form
      [data]="vm.addBookFormData"
      (outBus)="outHandler($event)"
    ></app-add-book-form>
  </section>

  <app-tabs
    [data]="vm.tabsData"
    (outBus)="outHandler($event)"
    [ngSwitch]="vm.tabsData.selectedTab"
  >
    <app-book-list
      *ngSwitchCase="0"
      [data]="vm.bookListData"
      (outBus)="outHandler($event)"
    ></app-book-list>

    <app-book-stuff *ngSwitchCase="1"></app-book-stuff>
  </app-tabs>
</main>
