@import 'base-styles/base-styles.scss';

:root {
  --colour-light-100: #fff;
  --colour-light-200: #eee;
  --colour-dark: #000;
  --colour-main-dark: #551423;
  --colour-main-light: #f195a9;
}

header {
  padding: 5px 5px 0 5px;
  position: relative;

  height: auto;
  justify-content: center;
  gap: 0;

  .read-book {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 10px;
    top: 14px;
  }
}

books-add-book-form,
books-show-form-checkbox {
  display: block;
  margin: 20px auto;
}

.table {
  .thead-dark {
    th {
      background-color: var(--colour-main-dark);
      border: none;
    }
  }
}

.nav-tabs {
  border-bottom: none;
  .nav-link.active {
    color: var(--colour-main-dark);
    background-color: var(--colour-main-light);
  }
}

.btn-primary {
  color: #fff;
  background-color: var(--colour-main-dark);
  border-color: var(--colour-main-dark);
  &:hover,
  &:focus,
  &:active {
    color: var(--colour-main-dark);
    background-color: var(--colour-main-light) !important;
    border-color: var(--colour-main-light);
  }
}
