<header class="flex">
  <h1>Books App</h1>
</header>

<main>
  <section class="mt-5 mb-5">
    <app-show-form-checkbox
      [inBus]="showFormCheckboxBus$ | async"
      (outBus)="outHandler($event)"
    ></app-show-form-checkbox>

    <app-add-book-form
      [inBus]="addBookFormBus$ | async"
      (outBus)="outHandler($event)"
    ></app-add-book-form>
  </section>

  <app-tabs
    [inBus]="tabBus$ | async"
    (outBus)="outHandler($event)"
    [ngSwitch]="selectedTab$ | async"
  >
    <app-book-list
      *ngSwitchCase="0"
      [inBus$]="bookListBus$"
      (outBus)="outHandler($event)"
    ></app-book-list>

    <app-book-stuff *ngSwitchCase="1"></app-book-stuff>
  </app-tabs>
</main>
